# /etc/default/raspotify -- Arguments/configuration for librespot

# Device name on Spotify Connect
{% if raspotify_device_name %}
DEVICE_NAME="{{ raspotify_device_name }}"
{% else %}
#DEVICE_NAME="raspotify"
{% endif %}

# The displayed device type in Spotify clients.
# Can be "unknown", "computer", "tablet", "smartphone", "speaker", "tv",
# "avr" (Audio/Video Receiver), "stb" (Set-Top Box), and "audiodongle".
{% if raspotify_device_type %}
DEVICE_TYPE="{{ raspotify_device_type }}"
{% else %}
#DEVICE_TYPE="speaker"
{% endif %}

# Bitrate, one of 96 (low quality), 160 (default quality), or 320 (high quality)
{% if raspotify_bitrate %}
BITRATE="{{ raspotify_bitrate }}"
{% else %}
#BITRATE="160"
{% endif %}

# Additional command line arguments for librespot can be set below.
# See `librespot -h` for more info. Make sure whatever arguments you specify
# aren't already covered by other variables in this file. (See the daemon's
# config at `/lib/systemd/system/raspotify.service` for more technical details.)
#
# To make your device visible on Spotify Connect across the Internet add your
# username and password which can be set via "Set device password", on your
# account settings, use `--username` and `--password`.
#
# To choose a different output device (ie a USB audio dongle or HDMI audio out),
# use `--device` with something like `--device hw:0,1`. Your mileage may vary.
#
{% if raspotify_librespot_options or raspotify_spotify_username or raspotify_spotify_password %}
OPTIONS="{% if raspotify_spotify_username %}--username {{ raspotify_spotify_username }} {% endif %}{% if raspotify_spotify_password %}--password '{{ raspotify_spotify_password }}' {% endif %}{% if raspotify_librespot_options %}{{ raspotify_librespot_options }}{% endif %}"
{% else %}
#OPTIONS="--username <USERNAME> --password <PASSWORD>"
{% endif %}

# Uncomment to use a cache for downloaded audio files. Cache is disabled by
# default. It's best to leave this as-is if you want to use it, since
# permissions are properly set on the directory `/var/cache/raspotify'.
{% if raspotify_librespot_cache_args %}
CACHE_ARGS="--cache {{ raspotify_librespot_cache_args }}"
{% else %}
#CACHE_ARGS="--cache /var/cache/raspotify"
{% endif %}

# By default, the volume normalization is enabled, add alternative volume
# arguments here if you'd like, but these should be fine.
#VOLUME_ARGS="--enable-volume-normalisation --volume-ctrl linear --initial-volume=100"

# Backend could be set to pipe here, but it's for very advanced use cases of
# librespot, so you shouldn't need to change this under normal circumstances.
{% if raspotify_librespot_backend_args %}
BACKEND_ARGS="--backend {{ raspotify_librespot_backend_args }}"
{% else %}
#BACKEND_ARGS="--backend alsa"
{% endif %}